<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>criptar cosas</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"></link>
		<link rel="stylesheet" href="./views/styles/index.css">
	</head>
	<body>
		<section class="ctn">
			<div class="ly">
				<!-- ============================ -->
				<div class="lych">
					<!-- ============================ -->
					<strong>Criptar mensaje</strong>
					<form id="cp" class="styled-form">
						<label for="msg">Mensaje:</label>
						<input type="text" id="msg" name="msg" class="input" placeholder="mensaje">
						<!-- <label for="ta">Mensaje:</label> -->
						<!-- <textarea id="ta" class="tarea" placeholder="escriba su mensaje" cols="30" rows="10"></textarea> -->
						<button type="submit" class="sendBtn">criptar</button>
					</form>
					<!-- ============================ -->
				</div>
				<!-- ============================ -->
			</div>
		</section>

	</body>
	<script src="./views/scripts/index.js"></script>
</html>




















